html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: assistant, sans-serif;
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.editor-breakpoint {
  position: relative;
}

.editor-breakpoint:before {
  content: '●';
  position: absolute;
  left: 6px;
  top: -3px;
  font-size: 12pt;
}

.editor-current-line {
  background: green;
}

#editor {
  height: auto !important;
  flex: 1 1;
}
