.root {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.actions {
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #ccc;
}

.actions > button + button {
  margin-top: 0.5em;
}

button {
  font-size: 12pt;
}

.header {
  background: #f8f8f8;
  padding: 5px;
}

.variables {
  flex: 1 1;
  display: flex;
  flex-direction: column;

  .variablesBody {
    flex: 1 1;
    display: flex;
    flex-direction: row;

    .names {
    }

    .values {
      flex: 1 1;
    }

    .varRow {
      padding: 2px 5px;
      border-bottom: solid 1px #eee;
    }
  }
}

.log {
  flex: 1 1;
  border-left: solid 1px #ccc;
  display: flex;
  flex-direction: column;
}

.logContainer {
  position: relative;
  flex: 1 1;
}

.logRoot {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.logScroll {
  min-height: 100%;
}

.logLine {
  padding: 1px 3px;
}
